body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,rgba(10, 117, 218, 0.67),rgba(113, 201, 248, 0.75));
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    line-height: 1.8;
    word-spacing: 8px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    max-width: 100%;
    padding: 2rem;
    margin: 1rem auto;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.8;
    width: 90%;
}

section h2 {
    color: #004d99;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid #00aaff;
    width: fit-content;
    padding-bottom: 5px;
    font-weight: bold;
}

section p {
    font-size: 1.1rem;
    padding: 5px;
    margin-bottom: 1rem;
    text-align: justify;
    color: #444;
}

li {
    text-indent: 40px;
    list-style: none;
}